@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html, body{
    overflow-x: hidden; 
}

/* Bloco 2 */

.bloco-2 {
    display: flex;
    height: 80vh;
    background-color: #FFBD59;
}

.bloco-2 .bg-2 {
    margin-left: -150px;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 50%;
}

.bloco-2 .bg-2 img {
    width: 300px;
    margin: 60px 180px;
    border-radius: 50%;
}

.descricao {
    width: 500px;
    height: 20vh;
    margin: 90px auto;
    /* border: 1px solid black; */
    text-align: center;
    text-align: start;
}

.descricao h1 {
    margin: 10px;
    font-weight: 400;
    font-size: 2em;
}

.descricao p {
    margin: 10px;
    color: #fff;
    font-weight: 400;
    font-size: 1.5em;
}

.descricao span {
    font-weight: bold;
}

.botao {
    margin: 20px 10px;
    width: 200px;
    background: #FF914D;
    padding:10px;
    border-radius:10px;
    color:white;
    transition: all 2s ease;
    font-size: 1em;
}

.botao:hover {
    background: #FFBD59;
}

/* Bloco 3 */

.bloco-3 {
    display: flex;
    height: 90vh;
    background-color: #FF914D;
    align-items: center;
}

.bloco-3 img {
    width: 250px;
    height: 250px;
    margin: 0 60px;
    border-radius: 50%;
}

.bloco-3 .descricao-2 {
    width: 600px;
    height: 250px;
    margin: -10px 100px;
    /* border: 1px solid black; */
    text-align: start;
}

.bloco-3 .descricao-2 h1 {
    margin: 10px;
    font-weight: 400;
    font-size: 2em;
}

.bloco-3 .descricao-2 h1:last-child {
    color: #fff;
}

.bloco-3 .descricao-2 p {
    margin: 0 10px;
    font-weight: 400;
    font-size: 1.25em;
    color: #E2E2E2;
}

/* Bloco 5 */

.bloco-5 {
    /* display: flex; */
    height: 100vh;
    background-color: rgb(255, 235, 179);
    text-align: center;
}

.bloco-5 h1 {
    padding-top: 80px;
    /* border: 1px solid black; */
    font-weight: 400;
    font-size: 2em;
}

.postagem-blog {
    height: 400px;
    width: 28%;
    display: inline-block;
    text-align: center;
    margin: 100px 20px;
    padding: 10px;
    /* border: 1px solid black; */
}

.postagem-blog img {
    width: 130px;
}

.postagem-blog h3 {
    margin: 20px 0;
    font-weight: 400;
    font-size: 1.5em;
}

.postagem-blog p {
    padding: 0 30px;
}

.postagem-blog button {
    width: 200px;
    height: 30px;
    margin: 20px 0;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid orange;
}

.postagem-blog button:hover {
    background-color: orange;
    color: #fff;
    transition: 0.5s;
}


/* Responsivo Mobile */

@media screen and (min-device-width: 320px) and (max-device-width: 667px) {
    /* Bloco 2 */

    .bloco-2 {
        display: grid;
        height: 160vh;
    }

    .descricao {
        width: 300px;
        height: 520px;
        padding: 5px;
        border: 1px solid #FF914D;
    }

    .descricao span {
        font-weight: bold;
    }

    .descricao .botão {
        width: 150px;
        height: 30px;
        margin-bottom: 10px;
        font-size: 17px;
    }

    /* bloco 3 */

    .bloco-3 {
        display: grid;
        height: 150vh;
    }

    .bloco-3 .descricao-2 {
        width: 300px;
        height: 480px;
        margin: 40px;
        padding: 12px;
        border: 1px solid #FFBD59;
    }

    /* Bloco 5 */

    .bloco-5 {
        display: grid;
        height: 320vh;
    }

    .bloco-5 .postagem-blog {
        width: 300px;
        margin: 0 40px;
        height: 500px;
        border: 1px solid #FFBD59;
    }

    .bloco-5 .postagem-blog p {
        padding: 0 8px;
        font-size: 1em;
    }

    .bloco-5 .postagem-blog button {
        width: 150px;
        height: 30px;
        font-size: 17px;
    }
    
}