

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

nav {
	width: 100%;
	margin: 0;
	background: #FF914D;
	display: flex;
	padding: 20px 0 20px 0;
	align-items: center;
}

#menu-responsivo,
#menu {
	display: none;
}

.logo {
	width: 30%;
	text-align: center;
}

.logo img {
	max-width: 100px
}

.menu {
	flex: 3;
	font-family: 20px;
	text-align: right;
}

.menu a {
	margin: 20px;
	color: white;
	text-decoration: none;
	font-weight: 400;
}

.menu a:hover {
	box-shadow: inset 0 -0.40em #FFBD59;
	transition: all 2s ease;
}

.menu ul li {
	display: inline;
}

.menu li {
	list-style: none
}

.login {
	flex: 1;
	text-align: center;
}

.login a {
	background: #FFBD59;
	padding: 10px;
	border-radius: 10px;
	color: white;
	text-decoration: none;
	transition: all 2s ease;
}

.login a:hover {
	background: #FF914D;
}

#bloco1 {
	background: #E0E0E0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.esq {
	width: 40%;
	text-align: center;
	padding: 10px 0 0 0;
	display: flex;
	align-items: flex-end;
}

.dir {
	width: 35%;
	padding: 5%;
	text-align: left;
}

.botao {
	margin: 30px 0 30px 0;
}

.botao a {
	background: #FF914D;
	padding: 10px;
	border-radius: 10px;
	color: white;
	text-decoration: none;
	transition: all 2s ease;
}

.botao a:hover {
	background: #FFBD59;
}

@media (min-width:300px) and (max-width:1050px) {
	nav {
		padding: 0;
		margin: 0;
	}
	.menu,
	.login {
		display: none;
	}
	#menu-responsivo,
	#menu {
		display: block;
	}
	#menu-responsivo {
		position: absolute;
		right: 20px;
		top: 20px;
	}
	#menu-responsivo a {
		color: black;
		font-size: 20px;
		padding: 10px;
	}
	.menu-abre {
		width: 50%;
		min-height: 80px;
		position: fixed;
		right: 0;
		background: #FFBD59;
		color: white;
		padding: 10px;
	}
	.fundo {
		position: fixed;
		bottom: 0;
		top: 0;
		right: 0;
		left: 0;
		visibility: hidden;
		opacity: 0;
	}
	.fundo:target {
		visibility: visible;
		opacity: 1;
	}
	.menu-abre .fecha {
		position: absolute;
		top: 20px;
		right: 30px;
		font-size: 50px;
		color: black;
		font-size: 40px;
		text-decoration: none;
	}
	.menu-abre li {
		list-style: none
	}
	.menu-abre a {
		color: white;
		line-height: 40px;
		text-decoration: none;
		font-weight: 400;
	}
	.login-responsivo a {
		background: #FF914D;
		padding: 5px;
		border-radius: 5px;
		color: white;
		text-decoration: none;
		transition: all 2s ease;
	}
	.login-responsivo a:hover {
		background: #FFBD59;
	}
	#bloco1 {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.esq {
		width: 96%;
		padding: 2%;
		text-align: center;
		margin: 0;
	}
	.esq img {
		max-width: 90%;
	}
	.dir {
		width: 94%;
		padding: 3%;
		margin: 0;
		text-align: center;
	}
}

* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 400;
}

html, body{
    overflow-x: hidden; 
}

/* Bloco 2 */

.bloco-2 {
    display: flex;
    height: 80vh;
    background-color: #FFBD59;
}

.bloco-2 .bg-2 {
    margin-left: -150px;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 50%;
}

.bloco-2 .bg-2 img {
    width: 300px;
    margin: 60px 180px;
    border-radius: 50%;
}

.descricao {
    width: 500px;
    height: 20vh;
    margin: 90px auto;
    /* border: 1px solid black; */
    text-align: center;
    text-align: start;
}

.descricao h1 {
    margin: 10px;
    font-weight: 400;
    font-size: 2em;
}

.descricao p {
    margin: 10px;
    color: #fff;
    font-weight: 400;
    font-size: 1.5em;
}

.botao {
    margin: 20px 10px;
    width: 200px;
    background: #FF914D;
    padding:10px;
    border-radius:10px;
    color:white;
    transition: all 2s ease;
    font-size: 1em;
}

.botao:hover {
    background: #FFBD59;
}

/* Bloco 3 */

.bloco-3 {
    display: flex;
    height: 90vh;
    background-color: #FF914D;
    align-items: center;
}

.bloco-3 img {
    width: 250px;
    height: 250px;
    margin: 0 60px;
    border-radius: 50%;
}

.bloco-3 .descricao-2 {
    width: 600px;
    height: 250px;
    margin: -10px 100px;
    /* border: 1px solid black; */
    text-align: start;
}

.bloco-3 .descricao-2 h1 {
    margin: 10px;
    font-weight: 400;
    font-size: 2em;
}

.bloco-3 .descricao-2 h1:last-child {
    color: #fff;
}

.bloco-3 .descricao-2 p {
    margin: 0 10px;
    font-weight: 400;
    font-size: 1.25em;
    color: #E2E2E2;
}

/* Bloco 5 */

.bloco-5 {
    /* display: flex; */
    height: 100vh;
    background-color: rgb(255, 235, 179);
    text-align: center;
}

.bloco-5 h1 {
    padding-top: 80px;
    /* border: 1px solid black; */
    font-weight: 400;
    font-size: 2em;
}

.postagem-blog {
    height: 400px;
    width: 28%;
    display: inline-block;
    text-align: center;
    margin: 100px 20px;
    padding: 10px;
    /* border: 1px solid black; */
}

.postagem-blog img {
    width: 130px;
}

.postagem-blog h3 {
    margin: 20px 0;
    font-weight: 400;
    font-size: 1.5em;
}

.postagem-blog p {
    padding: 0 30px;
}

.postagem-blog button {
    width: 200px;
    height: 30px;
    margin: 20px 0;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid orange;
}

.postagem-blog button:hover {
    background-color: orange;
    color: #fff;
    transition: 0.5s;
}
  
/*** SEÇÃO CARTÃO (INÍCIO) ***/

.container-cartao {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #FFBD59;
}

.container-cartao > h2 {
    order: -1;
    margin: 2em 1em 15px 1em;
    font-size: 2em;
    text-align: end;
}

.div-botao-cartao-e-texto {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.texto-cartao {
    color: white;
    order: 2;
    text-align: justify;
    margin: 0 25px 0 15px;
    order: 0;
    height: fit-content;
}

.button-cartao {
    color: #FFFFFF;
    background-color: #FF914D;
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-weight: bold;
    align-self: flex-end;
    margin: 15px 25px 30px 0;
    transition: all 2s ease;
}

.button-cartao:hover {
    background-color: #FF914D;
}

.img-cartao {
    width: 100%;
    order: 0;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
}

.f4bank-cartao {
    font-weight: bold;
}

/*** SEÇÃO CARTÃO (FIM) ***/

/*** FOOTER (INÍCIO) ***/

footer {
    background-color: #FF914D;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #FFFFFF;
    justify-content: center;
    padding: 30px 30px 30px 30px;
}

footer > div > p:first-child{
    color: #000000;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.titulo-institucional {
    width: 5em;
    border-bottom: 3px solid #FFBD59;
    padding-bottom: 8px;
}
.texto-footer {
    text-align: left;
}

.titulo-atendimento {
    width: 6em;
    border-bottom: 3px solid #FFBD59;
    padding-bottom: 8px;
}

ul {
    list-style: none;
    text-align: left;
}

.div-apps {
    display: flex;
    flex-direction: column;
}

.div-apps > a > img {
    width: 28%;
}

.first-icon-footer {
    border-top: 3px solid #FFBD59;
    padding: 15px 0 4px 0;
}

.texto-tel {
    margin-bottom: 15px;
}

.container-footer:first-child {
    text-align: center;
}

.container-institucional {
    margin-left: 60px;
}

.container-institucional > ul > a {
    text-decoration: none;
    color: #FFFFFF;
}

.icones-redes-sociais {
    margin: 10px;
}

.icones-redes-sociais > a > i {
    color: white;
    background-color: #FFBD59;
    border-radius: 50%;
    font-size: 1.1em;
    height: 40px;
    width: 40px;
    padding: 12px;
    text-shadow: 0.1em 0.1em 0.2em rgb(55, 54, 54);
    text-align: center;
    margin-right: 5px;
}

.copyright {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/*** FOOTER (FIM) ***/

/* Responsivo Mobile */

@media screen and (min-device-width: 320px) and (max-device-width: 667px) {
    /* Bloco 2 */

    .bloco-2 {
        display: grid;
        height: 160vh;
    }

    .descricao {
        width: 300px;
        height: 520px;
        border: 1px solid #FF914D;
    }

    .descricao .botão {
        width: 150px;
        height: 30px;
        margin-bottom: 10px;
        font-size: 17px;
    }

    /* bloco 3 */

    .bloco-3 {
        display: grid;
        height: 150vh;
    }

    .bloco-3 .descricao-2 {
        width: 300px;
        height: 480px;
        margin: 40px;
        border: 1px solid #FFBD59;
    }

    /* Bloco 5 */

    .bloco-5 {
        display: grid;
        height: 320vh;
    }

    .bloco-5 .postagem-blog {
        width: 300px;
        margin: 0 40px;
        height: 500px;
        border: 1px solid #FFBD59;
    }

    .bloco-5 .postagem-blog p {
        padding: 0 8px;
        font-size: 1em;
    }

    .bloco-5 .postagem-blog button {
        width: 150px;
        height: 30px;
        font-size: 17px;
    }
    
}

@media screen and (min-device-width: 320px) and (max-device-width: 420px) {

/*** SEÇÃO CARTÃO RESPONSIVO (INÍCIO) ***/

.container-cartao {
    display: flex;
    flex-direction: column;
    background-color: #FFBD59;
}

.container-cartao > h2 {
    font-size: 1.7em;
}

.img-cartao {
    order: 1;
}

.container-cartao > h2 {
    order: 2;
    margin: 1.2em 1em 0 1em;
}

.div-botao-cartao-e-texto {
    margin-top: 30px;
    order: 3;
}

/*** SEÇÃO CARTÃO RESPONSIVO (FIM) ***/

/*** FOOTER RESPONSIVO (INÍCIO) ***/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.container-footer {
    width: 100vw;
    margin: 25px 10px;
}

.container-institucional {
    width: 17em;
}

.container-canais-atendimento,
.titulo-atendimento {
    margin-top: 10px;
}

.titulo-atendimento {
    width: 11.9em;
}

.div-apps {
    margin: 20px 0 60px 90px;
}

/*** FOOTER RESPONSIVO (FIM) ***/

/*** COPYRIGHT RESPONSIVO (INÍCIO) ***/

.copyright {
    font-size: small;
}

/*** COPYRIGHT RESPONSIVO (FIM) ***/


