@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

/* laranja escuro - #FF914D
laranja claro - #FFBD59
cinza - #E2E2E2 */

/*** CONFIGURAÇÃO GERAL (INICIO) ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*** CONFIGURAÇÃO GERAL (FIM) ***/

.container-cartao {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #FFBD59;
}

.img-cartao {
    width: 100%;
}